# Зависимости (их нужно будет установить на сервере)
node_modules/
server/node_modules/

# Локальные файлы с данными (чтобы ваш деплой был чистым)
server/data/*.json

# Файлы окружения (никогда не выкладывайте .env в открытый доступ!)
.env
server/.env

# Логи и файлы ОС
.DS_Store
*.log